.App,
.App-header {
    align-items: center;
}

.App,
.App-header,
.underlay,
.mainTitle,
header,
ul {
    display: flex;
}

.underlay,
.mainTitle,
.App,
.App-header {
    flex-direction: column;
}

.App {
    text-align: center;
}

.App,
.underlay,
header {
    height: 100vh;
    min-height: 650px;
    max-height: 800px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #f1fffa;
    min-height: 100vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    fill: #ccfccb;
}

.App-link {
    color: #ccfccb;
}

.underlay {
    position: absolute;
    justify-content: space-around;
}

.quoteBox1 {
    position: relative;
    top: 10%;
    left: 50%;
}

.quoteBox2 {
    position: relative;
    right: 50%;
}


p,
li,
ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 125%;
    background-color: #f1fffa;
}

header {
    justify-content: center;
}

.mainTitle {
    justify-content: space-around;
}

h1,
h2 {
    font-size: 10rem;
    letter-spacing: 20px;
    opacity: 0.4;
    color: #9cde9f;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 250%;
}

/* The spinning logo for my react project */
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    max-width: 1000px;
    min-width: 320px;
}

/* Swal is for sweet alerts */
.swal-overlay {
    background-color: rgba(156, 222, 159, 0.60);
}

.swal-text {
    background-color: #f1fffa;
    padding: 17px;
    border: 1px solid #61e786;
    display: block;
    margin: 22px;
    text-align: center;
}

.swal-button {
    background-color: rgba(6, 214, 160, 0.90);
}

.sweetTitle {
    font-size: 3rem;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(97, 231, 134, 0.75);
}

.sweetCategory {
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(6, 214, 160, 0.74)
}

.sweetCategory,
.sweetKey {
    font-size: 1.5rem;
    font-family: 'Josefin Slab', serif;
}

/* I had to do some more research to get these floating block quotes */
blockquote:before,
blockquote:after {
    font-family: Arial, sans-serif;
    font-style: normal;
    position: absolute;
    content: '\201C';
    font-size: 82px;
}

blockquote {
    color: #2c3e50;
    font-size: 1.5rem;
    line-height: 120%;
    position: relative;
    font-family: Georgia, serif;
    width: 400px;
    margin: 10% auto;
}

blockquote:before {
    top: -10px;
    left: 0;
}

blockquote:after {
    bottom: -60px;
    right: 20px;
}

/* All the button decoration below. Credits to https://cssfx.dev/ */
.categorySelector button {
    z-index: 1;
    margin: 4%;
    position: relative;
    font-size: 1.3rem;
    font-family: 'Josefin Slab', serif;
    color: #f1fffa;
    padding: 0.5em 10%;
    outline: none;
    border: none;
    background-color: #2c3e50;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.categorySelector button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #61e786;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.45s ease-in-out;
}

.categorySelector button:hover,
.categorySelector button:focus {
    cursor: pointer;
    color: #2c3e50;
}

.categorySelector button:hover::before,
.categorySelector button:focus::before {
    transform: translate(-50%, -50%) scale(15);
}

/* All the button decoration below. Credits to https://cssfx.dev/ */
ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul button {
    position: relative;
    font-family: 'Josefin Slab', serif;
    background-color: rgba(169, 251, 215, 0.50);
    color: #2c3e50;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px;
    padding: 1.2%;
    margin: .8%;
    width: 30%;
}

ul button::before,
ul button::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 5px;
    background-color: #61e786;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}

ul button::before {
    top: 0;
}

ul button::after {
    bottom: 0;
}

ul button:hover::before,
ul button:hover::after,
ul button:focus::before,
ul button:focus::after {
    transform: translateX(-50%) scaleX(1);
}

/* Cutting down to 950px */
@media (max-width: 950px) {

    h1,
    h2 {
        font-size: 21vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }
}

/* cutting down to 750px */
@media (max-width: 750px) {
    .quoteBox1 {
        left: 0%;
    }

    .quoteBox2 {
        right: 0%;
    }

    blockquote:before {
        left: 100px;
    }

    blockquote:after {
        right: 100px;
    }
}

/* cutting down to 400px */
@media (max-width: 400px) {
    ul {
        display: flex;
        flex-direction: column;
    }

    ul button {
        width: 70%
    }
}